<!--
    Copyright 2016 Jon Mason
	
	This file is part of Oubreak.

    Oubreak is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oubreak is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oubreak.  If not, see <http://www.gnu.org/licenses/>.
-->
<h2 class="page-title">
    <div class="pull-right">
        <a href="/outbreak_api" class="btn btn-primary" role="button"><i class="fa fa-arrow-left"></i>&nbsp; Back to Attempts List</a>
    </div>
    Viral Outbreak
</h2>
<p class="no-top-margin">Use the buttons below to navigate through the exercise. As you progress, more sections will become available. Your progress is saved automatically, and you don't have to finish in one go. The introductory video and the messages that you see throughout the exercise will always be available here on the home page.</p>
<p class="no-margin"><span ng-if="mainCtrl.oxford">Please use the <a href="https://weblearn.ox.ac.uk/x/GNY01y" target="_blank">forum on WebLearn</a> to ask any questions you may have about this iCase. </span>If you have any technical queries or problems, <email-msdlt></email-msdlt>.</p>
<div class="row">
	<div class="col-xs-12 col-md-6" id="home">
		<div class="home-block" ng-repeat="(sectionId, section) in mainCtrl.sections" ng-class="{'locked': mainCtrl.locks[sectionId]}" ng-click="mainCtrl.checkLockOnClick(sectionId)" title="{{section.name}}">
			<div class="home-block-content">
				<div class="home-block-table">
					<div class="home-block-table-cell">
						<div class="home-block-icon">
							<a href="javascript: void(0);">
								<!--i class="fa fa-{{section.icon}}"></i><!--br />{{section.name}}-->
								<!--img ng-src="styles/fonts/font-awesome/images/{{section.icon}}.svg" ng-class="{small: sectionId === 'report' || sectionId === 'samples', large: sectionId === 'results', xlarge: sectionId === 'research' }" /-->
								<img ng-src="../../img/icons/white/{{section.icon}}.svg" ng-class="sectionId" />
								<!--img ng-src="styles/fonts/font-awesome/images/{{section.icon}}.svg" /-->
							</a>
						</div>
						<div class="home-block-caption">{{section.name}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-6">
		<div style="margin-top: 1.66%;">
			<div class="video-container">
				<iframe width="100%" ng-src="{{homeCtrl.introVideo}}" frameborder="0" allowfullscreen ng-hide="!mainCtrl.progress.alert"></iframe>
			</div>
		</div>
		<div style="margin-top: 1.66%;" class="blue-tabs home-tabs">
			<uib-tabset type="pills">
				<uib-tab heading="Email from the Boss" active="true">
					<outbreak-alert></outbreak-alert>
				</uib-tab>
				<uib-tab heading="Email from Irritating Pete" ng-if="mainCtrl.progress.lab">
					<flu-alert swabs="homeCtrl.acuteSwabSamplesCollected"></flu-alert>
				</uib-tab>
				<uib-tab heading="Research Grant Award" ng-if="mainCtrl.progress.hidentified && mainCtrl.progress.nidentified">
					<research-alert></research-alert>
				</uib-tab>
			</uib-tabset>
		</div>
	</div>
    
    <script type="text/ng-template" id="error-modal.html">
        <div class="modal-header">
            <h4 class="modal-title">Someting's gone wrong</h4>
        </div>
        <div class="modal-body">
            <p>Sorry about this, there seems to have been a problem. You may have lost connection, or your session may have timed out. It could also be caused by having multiple instances of this attempt open at once. Please check your internet connection, ensure you don't have this attempt open in multiple tabs, and then try refreshing the page. </p>
            <p>Unfortunately, this means that your most recent actions/inputs may be lost. This may include any unchecked questions, uncollected samples or assays that you haven't yet carried out. Reports are automatically saved every minute, but you may lose any text you have entered since the last save. Apologies for any inconvenience or annoyance this causes.</p>
            <p>If you continue to experience problems, <email-msdlt></email-msdlt></p>
        </div>
        <div class="modal-footer">
            <div>
                <button type="button" class="btn btn-primary" ng-click="ErrorModalCtrl.confirm()">Reload</button>
            </div>
        </div>
    </script>
    
    <script type="text/ng-template" id="outbreak-alert-modal.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Cancel" ng-click="OutbreakAlertModalCtrl.cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Alert: Email from the Boss</h4>
        </div>
        <div class="modal-body">
            <outbreak-alert></outbreak-alert>
            <info-on-home></info-on-home>
        </div>
        <div class="modal-footer">
            <div ng-hide="OutbreakAlertModalCtrl.saving">
                <button type="button" class="btn btn-primary" ng-click="OutbreakAlertModalCtrl.confirm()">Continue</button>
            </div>
            <div ng-show="OutbreakAlertModalCtrl.saving">
                <loader></loader> Saving Progress
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="intro-modal.html">
        <div class="modal-header">
            <h4 class="modal-title">Introduction</h4>
        </div>
        <div class="modal-body">
            <p>Watch this brief introductory video, explaining what you have to do. When you are ready, click Start.</p> 
            <div style="margin-bottom: 10px;">
                <div class="video-container">
                    <iframe width="100%" ng-src="{{IntroModalCtrl.introVideo}}" frameborder="0" allowfullscreen></iframe>
                </div>
                <!--div id="introModalPlayer" ng-init="IntroModalCtrl.loadVideo()">Loading video player...</div-->
            </div>
            <info-on-home type="'video'"></info-on-home>
        </div>
        <div class="modal-footer">
            <div ng-hide="IntroModalCtrl.saving">
                <button type="button" class="btn btn-primary" ng-click="IntroModalCtrl.start()">Start</button>
            </div>
            <div ng-show="IntroModalCtrl.saving">
                <loader></loader> Saving Progress
            </div>
        </div>
    </script>

</div>