<!--
    Copyright 2016 Jon Mason
	
	This file is part of Oubreak.

    Oubreak is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oubreak is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oubreak.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="row">
	<div class="col-xs-12">
		<page-title section="infoCtrl.section"></page-title>
		<h4>Info</h4>
		<p>This iCase is intended to provide you with an experience of the sort of complex and potentially confusing situation you might encounter in real medical practice. It is a substantial piece of investigative work, often taking upwards of six hours to complete.</p>
		<h6 ng-if="mainCtrl.oxford">Forum</h6>
		<p ng-if="mainCtrl.oxford">Please use the <a href="https://weblearn.ox.ac.uk/x/GNY01y" target="_blank">forum on WebLearn</a> to ask any questions you may have about this iCase and we will endeavour to answer them as soon as possible.</p>
		<h6>Query or Problem?</h6>
		<p>If you have any technical queries about this exercise, or experience any problems when using it, <email-msdlt></email-msdlt>.</p>
		
		<h4 style="margin-top: 20px;">Acknowledgements</h4>
		<div class="row">
			<div class="col-xs-12 col-md-7 col-lg-8">
				<h6>Idea and Content</h6>
				<p>Dr M. D. (Kenny) Moore and Prof William S. James - <a href="http://www.path.ox.ac.uk/" target="_blank" title="Sir William Dunn School of Pathology Home Page">Sir William Dunn School of Pathology, University of Oxford</a></p>
				<h6>Additional Content</h6>
				<p>Prof George Brownlee, Prof Ervin Fodor, Dr Edward Hutchinson, Dr Errin Johnson, Dr Rebecca Moore, Nigel Rust, Dr Aartjan te Velthuis - <a href="http://www.path.ox.ac.uk/" target="_blank" title="Sir William Dunn School of Pathology Home Page">Sir William Dunn School of Pathology, University of Oxford</a></p>
				<p>Dr Helena Maier - <a href="http://www.pirbright.ac.uk/" target="_blank" title="Pirbright Institute Home Page">Pirbright Institute</a><p>
				<p>Dr Darren Leneghan - <a href="http://www.jenner.ac.uk/" target="_blank" title="Jenner Institute Home Page">Jenner Institute</a></p>
				<p>Dr Daniel Beniac - <a href="http://www.fei.com/" target="_blank" title="FEI Home Page">FEI</a></p>
				<h6>With Thanks to</h6>
				<p>Dr Rachel Exley, Prof David Greaves, Prof Christoph Tang - <a href="http://www.path.ox.ac.uk/" target="_blank" title="Sir William Dunn School of Pathology Home Page">Sir William Dunn School of Pathology, University of Oxford</a></p>
				<h6>Video Editing, Camera and Sound</h6>
				<p>Dr Aartjan te Velthuis - <a href="http://www.path.ox.ac.uk/" target="_blank" title="Sir William Dunn School of Pathology Home Page">Sir William Dunn School of Pathology, University of Oxford</a></p>
			</div>
			<div class="col-xs-12 col-md-5 col-lg-4">
				<p class="info-logos"><a href="http://www.path.ox.ac.uk/" target="_blank" title="Sir William Dunn School of Pathology Home Page"><img src="../../img/dunnschool.png" id="dunnschool" alt="Sir William Dunn School of Pathology Logo" /></a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-9 col-sm-10">
				<h6>Software</h6>
				<p>Dr Damion Young and Jon Mason - <a href="http://www.medsci.ox.ac.uk/support-services/learning-technologies" target="_blank" title="MSD Learning Technologies Home Page">Medical Sciences Division Learning Technologies, University of Oxford</p>
			</div>
			<div class="col-xs-3 col-sm-2">
				<p class="info-logos"><a href="http://www.medsci.ox.ac.uk/support-services/learning-technologies" target="_blank" title="MSD Learning Technologies Home Page"><img src="../../img/MSD-logo.gif" id="msdlt" alt="MSD Learning Technologies Logo" /></a></p>
			</div>
		</div>
		
		<h4 style="margin-top: 20px;">Licenses</h4>
		<p>Except where otherwise noted, the content of this site is licensed under the <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike (CC BY-NC-SA) 4.0 International License.</a> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a></span>. This includes the following images and documents, which can be reused under the CC BY-NC-SA License:</p>
		<ul>
			<li>HAI assay results, by W.S. James (used in Question 6)</li>
			<li>Plaque Assay, HA and HAI results images, by E.C. Hutchinson and M.D. Moore</li>
			<li>PCR results images, by M.D. Moore</li>
			<li>ELISA results images, by R.A. Moore and M.D. Moore</li>
			<li>Unpublished flow cytometry data, by M.D. Moore</li>
			<li>Unpublished western blot data, by M.D. Moore</li>
			<li>Brimouth Protocols, by W.S. James and M.D. Moore</li>
		</ul>
		<!--h6>Videos</h6>
		<p>All videos &copy; 2016 Dunn School of Pathology. </p-->
		<h6>Icons</h6>
		<ul>
			<li>Font Awesome by Dave Gandy - <a href="http://fontawesome.io" target="_blank">http://fontawesome.io</a> - is licensed under the SIL OFL 1.1, <a href="http://scripts.sil.org/OFL" target="_blank">http://scripts.sil.org/OFL</a></li>
			<li>SVG versions of icons adapted from <a href="https://github.com/encharm/Font-Awesome-SVG-PNG target="_blank">Font-Awesome-SVG-PNG</a>, &copy; 2014 Code Charm Ltd, licensed under the <a href="https://github.com/encharm/Font-Awesome-SVG-PNG/blob/master/LICENSE" target="_blank">MIT license</a></li>
		</ul>
		<h6>Code</h6>
		<p>Except where otherwise noted, the code for this site is licensed under the <a href="http://www.gnu.org/licenses/gpl.html" target="_blank">GNU General Public License</a>, and is available on <a href="https://github.com/jonmase/outbreak" target="_blank">Github</a>.</p>
		<p>The software makes use of the following frameworks and libraries (licenses shown in brackets):</p>
		<ul>
			<li><a href="http://cakephp.org/" target="_blank">CakePHP</a> (<a href="https://github.com/cakephp/cakephp/blob/master/LICENSE.txt" target="_blank">MIT</a>)</li>
			<li><a href="https://angularjs.org/" target="_blank">AnuglarJS</a> (<a href="https://github.com/angular/angular.js/blob/master/LICENSE" target="_blank">MIT</a>)</li>
			<li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> (<a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>)</li>
			<li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">UI Bootstrap</a> (<a href="https://github.com/angular-ui/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>)</li>
			<li><a href="http://mgcrea.github.io/angular-strap/" target="_blank">Angular Strap</a> (<a href="https://github.com/mgcrea/angular-strap/blob/master/LICENSE.md" target="_blank">MIT</a>)</li>
			<li><a href="https://github.com/sebastianha/angular-bootstrap-checkbox" target="_blank">angular-bootstrap-checkbox</a> (<a href="https://github.com/sebastianha/angular-bootstrap-checkbox/blob/master/LICENSE" target="_blank">MIT</a>)</li>
			<li><a href="http://ckeditor.com/" target="_blank">CKEditor</a> (<a href="https://github.com/ckeditor/ckeditor-dev/blob/master/LICENSE.md" target="_blank">GPL</a>)</li>
			<li><a href="https://github.com/esvit/ng-ckeditor" target="_blank">ng-ckeditor</a> (<a href="https://github.com/esvit/ng-ckeditor/blob/master/LICENSE" target="_blank">MIT</a>)</li>
		</ul>
	</div>
</div>