<div class="row">
	<div class="col-xs-12">
		<page-title section="infoCtrl.section"></page-title>
		<h4>Info</h4>
		<p>This iCase is intended to provide you with an experience of the sort of complex and potentially confusing situation you might encounter in real medical practice. It is a substantial piece of investigative work, often taking upwards of six hours to complete.</p>
		<h6>Forum</h6>
		<p>Please use the <a href="https://weblearn.ox.ac.uk/x/GNY01y" target="_blank">forum on WebLearn</a> to ask any questions you may have about this iCase and we will endeavour to answer them as soon as possible.</p>
		<h6>Query or Problem?</h6>
		<p>If you have any technical queries about this exercise, or experience any problems when using it, <email-msdlt></email-msdlt>.</p>
		
		<h4 style="margin-top: 20px;">Acknowledgements</h4>
		<h6>Idea and Content</h6>
		<p>Dr Kenny Moore and Prof William James - <a href="http://www.path.ox.ac.uk/" target="_blank" title="Sir William Dunn School of Pathology Home Page">Sir William Dunn School of Pathology, University of Oxford</a></p>
		<h6>Additional Content</h6>
		<p>Prof George Brownlee, Prof Ervin Fodor, Dr Edward Hutchinson, Dr Errin Johnson, Dr Rebecca Moore, Nigel Rust, Dr Aartjan te Velthuis - <a href="http://www.path.ox.ac.uk/" target="_blank" title="Sir William Dunn School of Pathology Home Page">Sir William Dunn School of Pathology, University of Oxford</a></p>
		<p>Dr Helena Maier - <a href="http://www.pirbright.ac.uk/" target="_blank" title="Pirbright Institute Home Page">Pirbright Institute</a><p>
		<p>Dr Darren Leneghan - <a href="http://www.jenner.ac.uk/" target="_blank" title="Jenner Institute Home Page">Jenner Institute</a></p>
		<p>Dr Daniel Beniac - <a href="http://www.fei.com/" target="_blank" title="FEI Home Page">FEI</a></p>
		<h6>With Thanks to</h6>
		<p>Dr Rachel Exley, Prof David Greaves, Prof Christoph Tang - <a href="http://www.path.ox.ac.uk/" target="_blank" title="Sir William Dunn School of Pathology Home Page">Sir William Dunn School of Pathology, University of Oxford</a></p>
		<h6>Video Editing, Camera and Sound</h6>
		<p>Dr Aartjan te Velthuis - <a href="http://www.path.ox.ac.uk/" target="_blank" title="Sir William Dunn School of Pathology Home Page">Sir William Dunn School of Pathology, University of Oxford</a></p>
		<h6>Software</h6>
		<p>Dr Damion Young and Jon Mason - <a href="http://www.medsci.ox.ac.uk/support-services/learning-technologies" target="_blank" title="MSD Learning Technologies Home Page">Medical Sciences Division Learning Technologies, University of Oxford</p>
		<p class="info-logos align-center-full-width"><a href="http://www.path.ox.ac.uk/" target="_blank" title="Sir William Dunn School of Pathology Home Page"><img src="../../img/dunnschool.png" alt="Sir William Dunn School of Pathology Logo" /></a><br class="hidden-md hidden-lg" /><a href="http://www.medsci.ox.ac.uk/support-services/learning-technologies" target="_blank" title="MSD Learning Technologies Home Page"><img src="../../img/MSD-logo.gif" alt="MSD Learning Technologies Logo" /></a><a href="http://www.ox.ac.uk/" target="_blank" title="University of Oxford Home Page"><img src="../../img/ox_brand3_pos.gif" alt="University of Oxford Logo" /></a></p>
	</div>
</div>