<!--
    Copyright 2016 Jon Mason
	
	This file is part of Oubreak.

    Oubreak is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oubreak is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oubreak.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="row">
	<div class="col-xs-12 col-sm-12">
		<page-title section="labCtrl.section"></page-title>
        <div>
            <div>
                <div class="icon-button icon-button-small pull-right"><a href="" title="Help, I'm Stuck!" ng-click="labCtrl.help()"><i class="fa fa-life-ring"></i><br />I'm Stuck!</a></div>
            </div>
            <p style="margin-right: 100px">In the lab, you can use the available techniques to perform assays on the samples you have collected in order to investigate the virus. You have a limited amount of time and money, so pick the assays you perform and the samples you include carefully, so you don't run out. You will be told when you have gathered enough information to determine the viral serotype that is causing the current epidemic.</p>
        </div>
		<page-menu items="labCtrl.subsections" on-click="labCtrl.setSubsection(subsectionId)"></page-menu>

		<div>
			<div>
				<uib-tabset id="lab-tabs">
					<uib-tab heading="Assay" ng-repeat-start="technique in labCtrl.subsections" ng-show="labCtrl.currentTechniqueId === technique.id" ng-if="!technique.infoOnly" active="labCtrl.activeTabs[technique.id].assay">
						<div>
							<h4>{{technique.menu}} - Choose Samples</h4>
							<p>Tick the boxes for samples that you wish to include in this assay, then click the button to perform the assay. Samples that are available, but that you have not collected, are shown but cannot be selected. To include these samples in the assay, you must first <a href="#sampling" title="Collect more samples">collect them</a>.</p>
						</div>
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<show-resources time="mainCtrl.resources.time" money="mainCtrl.resources.money" title="'Remaining Resources'" class="col-xs-6 col-sm-4 col-md-3"></show-resources>
									<div class="col-xs-6 col-sm-4 col-md-3 col-sm-push-4 col-md-push-6">
										<div class="icon-button pull-right" ng-class="{disabled: labCtrl.assays.temp.counts[technique.id].total === 0}"><a href="" title="Perform Assay" ng-click="labCtrl.performAssay()"><i class="fa fa-flask"></i><br />Perform Assay</a></div>
									</div>
									<show-resources time="technique.time" money="technique.money * labCtrl.assays.temp.counts[technique.id].total" cost="technique.money" title="'Assay Costs'" class="col-xs-6 col-sm-4 col-md-3 col-sm-pull-4 col-md-pull-3"></show-resources>
									<div class="clearfix visible-sm-block hidden-lg"></div>
									<show-resources time="mainCtrl.resources.time - technique.time" money="mainCtrl.resources.money - (technique.money * labCtrl.assays.temp.counts[technique.id].total)" title="'Resources After Performing Assay'" class="col-xs-6 col-sm-4 col-md-3 col-md-pull-3"></show-resources>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						
						<div class="row assays">
							<!--div id="assays_standards" class="checkbox-container col-xs-12 col-lg-6"-->
							<div id="assays_standards" class="col-xs-12 col-lg-6">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h5 class="panel-title">Standards <span class="all-or-none"><all-or-none site-id="'standards'" on-click="labCtrl.selectAllOrNoneBySite(allOrNone, 'standards')" brackets="true"></all-or-none></span></h5>
									</div>
									<div class="panel-body">
										<div ng-repeat="standard in labCtrl.standards" class="lab-standard">
											<span class="checkbox checkbox-primary">
												<input type="checkbox" 
													id="assays_standards_{{standard.id}}" 
													ng-model="labCtrl.assays.all.standards[technique.id][standard.id]" ng-true-value="1" ng-false-value="0" 
													ng-click="labCtrl.setAssayCount()" 
													ng-disabled="labCtrl.assays.saved.standards[technique.id][standard.id] === 1" 
													 />
												<label></label>
											</span>
											<span class="lab-standard-name">{{standard.name}}</span>
										</div>
									</div>
								</div>
							</div>
							<div ng-repeat="(siteId, site) in labCtrl.samples.saved.samples">
								<div class="col-xs-12 col-lg-6">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h5 class="panel-title">{{labCtrl.sites[siteId].name}} <span class="all-or-none"><all-or-none site-id="siteId" on-click="labCtrl.selectAllOrNoneBySite(allOrNone, siteId)" brackets="true"></all-or-none></span></h5>
										</div>
										<div class="row panel-body">
											<div ng-repeat="(schoolId, school) in site" class="col-sm-6 assays-schools">
												<h6>{{labCtrl.schools[schoolId].name}}</h6>
												<table class="table">
													<thead>
														<tr>
															<th><!--Child--></th>
															<th ng-repeat="type in labCtrl.types" ng-if="!labCtrl.schools[schoolId][type.stage + 'Disabled']" ng-class="'assays-' + type.stage">{{type.stage.charAt(0).toUpperCase() + type.stage.slice(1)}}<br /><span class="all-or-none"><all-or-none site-id="siteId" school-id="schoolId" type-id="type.id" on-click="labCtrl.selectAllOrNoneByType(allOrNone, siteId, schoolId, type.id)" brackets="true"></all-or-none></span>
                                                            </th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="child in labCtrl.schools[schoolId].children">
															<th>{{child.name}}</th>
															<td ng-repeat="type in labCtrl.types" ng-if="!labCtrl.schools[schoolId][type.stage + 'Disabled']" ng-class="'assays-' + type.stage">
																<div class="checkbox checkbox-primary">
																	<!-- Assay checkbox - ticked to add sample to assay
																		ng-model - linked to assays.temp.samples array
																		ng-click - update the assays.temp.count when checkbox is toggled on/off
																		ng-disabled - disable if sample has not been taken or assay has already been performed with sample
																		ng-checked - check if assay has already been performed with sample (will be disabled) -->
																	<input type="checkbox" 
																		id="assays_{{technique.code}}_{{labCtrl.sites[siteId].code}}_{{labCtrl.schools[schoolId].code}}_{{child.code}}_{{type.stage}}" 
																		ng-model="labCtrl.assays.all.samples[technique.id][siteId][schoolId][child.id][type.id]" ng-true-value="1" ng-false-value="0" 
																		ng-click="labCtrl.setAssayCount()"
																		ng-disabled="labCtrl.samples.saved.samples[siteId][schoolId][child.id][type.id] !== 1 || labCtrl.assays.saved.samples[technique.id][siteId][schoolId][child.id][type.id] === 1" 
																		 />
																	<label> </label>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div ng-if="$even" class="clearfix"></div>

							</div>
						</div>
					</uib-tab>
					<uib-tab heading="Results" ng-repeat-end ng-show="labCtrl.currentTechniqueId === technique.id" ng-if="!technique.infoOnly" active="labCtrl.activeTabs[technique.id].results">
						<h4>{{technique.menu}} - Results</h4>
						
						<div ng-if="labCtrl.assays.saved.counts[technique.id].total === 0">
							<!--TODO: Make assay tab clickable and return the user to that tab - see http://stackoverflow.com/questions/24157954/angularjs-ui-bootstrap-dynamically-select-among-static-tabs-not-working -->
							No assays have been performed using this technique yet. Return to the <a href='' ng-click="labCtrl.setTab(technique.id, 'assay')">Assay tab</a> to select samples and perform the assay.
						</div>
					
						<div ng-if="labCtrl.assays.saved.counts[technique.id].standards > 0" class="results-section">
							<h5>Standards</h5>
							<show-result technique="technique" samples="labCtrl.standards" samples-performed="labCtrl.assays.saved.standards[technique.id]" type="false"></show-result>
						</div>
						
						<div ng-repeat="site in labCtrl.sites" ng-if="labCtrl.assays.saved.counts[technique.id].sites[site.id].total > 0" class="results-section">
							<h5>{{site.name}}</h5>
							<div class="row">
								<div ng-repeat="school in  labCtrl.schools" ng-if="labCtrl.assays.saved.counts[technique.id].sites[site.id].schools[school.id].total > 0" class="col-xs-12 results-school-section" ng-class="{'col-md-6': technique.code === 'ha' || technique.code === 'pcrn' || technique.code === 'pfu'}">
									<h6>{{school.name}}</h6>
									{{labCtrl.assays.saved.counts[technique.id].sites[site.id].schools[school.id].types[type.id]}}
									<div ng-repeat="type in labCtrl.types" ng-if="labCtrl.assays.saved.counts[technique.id].sites[site.id].schools[school.id].types[type.id] > 0" class="results-type-section">
										<p><strong>{{type.stage.charAt(0).toUpperCase() + type.stage.slice(1)}} Samples</strong></p>
										<div>
											<show-result technique="technique" samples="labCtrl.schools[school.id].children" samples-performed="labCtrl.assays.saved.samples[technique.id][site.id][school.id]" type="type.id" type-ref="type.stage.charAt(0)" site-ref="labCtrl.sites[site.id].resultId"></show-result>
										</div>
									</div>
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab heading="Info" active="labCtrl.activeTabs[labCtrl.currentTechniqueId].info">
						<div class="row page-content">
							<h4 class="col-xs-12 hidden-md hidden-lg">{{labCtrl.currentTechnique.name}}</h4>
							<technique-video ng-show="labCtrl.currentTechniqueVideo !== null" video="labCtrl.currentTechniqueVideo"></technique-video>
							<div class="col-xs-12" ng-class="{'col-md-6': labCtrl.currentTechniqueVideo !== null, 'col-md-pull-6': labCtrl.currentTechniqueVideo !== null}">
								<h4 class="hidden-xs hidden-sm">{{labCtrl.currentTechnique.name}}</h4>
								<technique-info technique="labCtrl.currentTechnique"></technique-info>
							</div>
						</div>
					</uib-tab>
				</uib-tabset>
			</div>
		</div>
	</div>
    
    <script type="text/ng-template" id="flu-alert-modal.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Cancel" ng-click="FluAlertModalCtrl.cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Alert: Email from Irritating Pete</h4>
        </div>
        <div class="modal-body">
            <flu-alert swabs="FluAlertModalCtrl.acuteSwabSamplesCollected"></flu-alert>
            <info-on-home></info-on-home>
        </div>
        <div class="modal-footer">
            <div ng-hide="FluAlertModalCtrl.saving">
                <button type="button" class="btn btn-primary" ng-click="FluAlertModalCtrl.confirm()">Continue</button>
            </div>
            <div ng-show="FluAlertModalCtrl.saving">
                <loader></loader> Saving Progress
            </div>
        </div>
    </script>
    
    <script type="text/ng-template" id="begging-modal.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Cancel" ng-click="BeggingModalCtrl.cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Beg for more {{BeggingModalCtrl.resourceTitle}}</h4>
        </div>
        <div class="modal-body">
            <p>You have run out of {{BeggingModalCtrl.resourceText}}, so you have had to go, cap in hand, to your boss to ask for more.</p>
            <p ng-if="BeggingModalCtrl.resources.money <= BeggingModalCtrl.moneyCutoff">After a lot of ear-ache you have been given another £200 to complete your analyses.</p>
            <p ng-if="BeggingModalCtrl.resources.time <= BeggingModalCtrl.timeCutoff">You have embarassed the minister who has had to cancel the press conference. Luckily there is another bulletin due in 48 hours. </p>
            <p>Your boss insists that you go back and think about what you are doing more carefully.</p>
            <p>Remember, don't waste resources on unproductive tests and, while you can obtain the information you need in multiple ways, you need to find the way that minimises the amount of time and money you spend.</p>
        </div>
        <div class="modal-footer">
            <div ng-hide="BeggingModalCtrl.saving">
                <button type="button" class="btn btn-primary" ng-click="BeggingModalCtrl.confirm()">Continue</button>
            </div>
            <div ng-show="BeggingModalCtrl.saving">
                <loader></loader>Resetting {{BeggingModalCtrl.resourceTitle}}
            </div>
        </div>
    </script>
    
    <script type="text/ng-template" id="help-modal.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Cancel" ng-click="HelpModalCtrl.cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Help, I'm Stuck!</h4>
        </div>
        <div class="modal-body">
            <p>If you believe you have performed sufficient assays to identify the virus, but are not able to progress, please carefully recheck the assays you have performed and ensure that you have carried out the necessary assays on all of the relevant, available samples.</p>
            <p>If you need further help, please come along to one of the drop-in sessions in 1st week of Hilary Term, or contact <a href="mailto:kenny.moore@path.ox.ac.uk">Dr Kenny Moore</a>. If you believe there is a technical issue with the iCase, please contact <a href="mailto:msdlt@medsci.ox.ac.uk">MSD Learning Technologies</a>.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="HelpModalCtrl.cancel()">Close</button>
        </div>
    </script>
    
    <script type="text/ng-template" id="lab-modal.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Cancel" ng-click="LabModalCtrl.cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Perform Assay - {{LabModalCtrl.technique.name}}</h4>
        </div>
        <div class="modal-body">
            <p>The samples you have selected for this assay are shown below. If you wish to go ahead and perform this assay, please select Confirm to continue.</p>
            <p>Alternatively, please select Cancel and you can add or remove samples before performing the assay. You can test further samples later, but this will cost you more time.</p>
            
            <div class="alert alert-danger no-margin" role="alert" 
                ng-if="(LabModalCtrl.resources.time - LabModalCtrl.technique.time) <= 0 || (LabModalCtrl.resources.money - (LabModalCtrl.technique.money * LabModalCtrl.assays.temp.counts[LabModalCtrl.currentTechniqueId].total)) <= 0">If you perform this assay, you will run out of 
                <!--Note: keep these spans on same line otherwise there will be an unwanted space before the comma if only 'time' is shown-->
                <span ng-if="(LabModalCtrl.resources.time - LabModalCtrl.technique.time) <= 0">time</span><span ng-if="(LabModalCtrl.resources.time - LabModalCtrl.technique.time) <= 0 && (LabModalCtrl.resources.money - (LabModalCtrl.technique.money * LabModalCtrl.assays.temp.counts[LabModalCtrl.currentTechniqueId].total)) <= 0"> and </span><span ng-if="(LabModalCtrl.resources.money - (LabModalCtrl.technique.money * LabModalCtrl.assays.temp.counts[LabModalCtrl.currentTechniqueId].total)) <= 0">money</span>,
                and will have to beg for more before you can perform further assays.
            </div>

            <div class="row"> 
                <show-resources time="LabModalCtrl.resources.time" money="LabModalCtrl.resources.money" title="'Remaining Resources'" class="col-xs-6 col-sm-4"></show-resources>
                <show-resources time="LabModalCtrl.technique.time" money="LabModalCtrl.technique.money * LabModalCtrl.assays.temp.counts[LabModalCtrl.currentTechniqueId].total" cost="LabModalCtrl.currentTechnique.money" title="'Assay Costs'" class="col-xs-6 col-sm-4"></show-resources>
                <show-resources time="LabModalCtrl.resources.time - LabModalCtrl.technique.time" money="LabModalCtrl.resources.money - (LabModalCtrl.technique.money * LabModalCtrl.assays.temp.counts[LabModalCtrl.currentTechniqueId].total)" title="'Resources After Performing Assay'" class="col-xs-6 col-sm-4"></show-resources>
            </div>
            <div ng-if="LabModalCtrl.assays.temp.counts[LabModalCtrl.currentTechniqueId].standards > 0" class="lab-modal-selected">
                <h5>Standards</h5>
                <span ng-repeat="(standardId, standard) in LabModalCtrl.assays.temp.standards[LabModalCtrl.currentTechniqueId] track by $index" ng-if="standard == 1" class="label label-primary">{{LabModalCtrl.standards[standardId].name}}</span>
            </div>
            <div class="clearfix"></div>
            <div ng-repeat="(siteId, site) in LabModalCtrl.sites" ng-if="LabModalCtrl.assays.temp.counts[LabModalCtrl.currentTechniqueId].sites[siteId].total > 0" class="lab-modal-selected lab-modal-sites row">
                <h5 class="col-xs-12">{{site.name}} Samples</h5>
                <div class="clearfix"></div>
                <div ng-repeat="(schoolId, school) in LabModalCtrl.schools" ng-if="LabModalCtrl.assays.temp.counts[LabModalCtrl.currentTechniqueId].sites[siteId].schools[schoolId].total > 0" class="col-md-6">
                    <h6>{{school.name}}</h6>
                    <table>
                        <tbody>
                            <tr ng-repeat="(childId, child) in LabModalCtrl.schools[schoolId].children track by $index" 
                                ng-if="LabModalCtrl.assays.temp.counts[LabModalCtrl.currentTechniqueId].sites[siteId].schools[schoolId].children[childId] > 0">
                                <td>{{child.name}}: </td>
                                <td ng-repeat="(typeId, type) in LabModalCtrl.assays.temp.samples[LabModalCtrl.currentTechniqueId][siteId][schoolId][childId] track by $index" ng-if="type == 1"><span class="label label-primary">{{LabModalCtrl.types[typeId].stage}}</span></td>
                            </tr>
                        </tbody>	
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="modal-footer">
            <div ng-hide="LabModalCtrl.saving">
                <button type="button" class="btn btn-default" ng-click="LabModalCtrl.cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="LabModalCtrl.confirm()">Confirm</button>
            </div>
            <div ng-show="LabModalCtrl.saving">
                <loader></loader>
                Performing Assay
            </div>
            <div ng-show="LabModalCtrl.error" class="alert alert-danger align-left" style="margin:15px 0 0;" role="alert">
                Sorry, there was a problem performing this assay. Please try again. If it still doesn't work, please refresh the page - unfortunately this will mean you will have to re-select the samples you want to test. If the problem continues, <email-msdlt></email-msdlt>.
            </div>	
        </div>
    </script>
    
    <script type="text/ng-template" id="research-alert-modal.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Cancel" ng-click="ResearchAlertModalCtrl.cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Alert: Research Grant Award</h4>
        </div>
        <div class="modal-body">
            <research-alert></research-alert>
            <info-on-home></info-on-home>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="ResearchAlertModalCtrl.cancel()">Return to Lab</button>
            <button type="button" class="btn btn-primary" ng-click="ResearchAlertModalCtrl.goToResults()">View Results</button>
            <button type="button" class="btn btn-primary" ng-click="ResearchAlertModalCtrl.goToReport()">Write Report</button>
            <button type="button" class="btn btn-primary" ng-click="ResearchAlertModalCtrl.goToResearch()">Further Research</button>
        </div>
    </script>

</div>