<div class="row">
	<div class="col-xs-12 col-sm-12">
		<page-title section="questionsCtrl.section"></page-title>
		<p>Answer the questions in this section to check that you understand the techniques that will be available for your investigations. For each question, you must complete all the parts before you can check your answers. Once you have answered all of the questions, you will be able to move on to the next section.</p>
		<loader ng-show="questionsCtrl.loading"></loader>
		<div ng-hide="questionsCtrl.loading">
			<page-menu items="questionsCtrl.subsections" on-click="questionsCtrl.setSubsection(subsectionId)"></page-menu>
			<div ng-repeat="question in questionsCtrl.subsections" ng-show="questionsCtrl.currentQuestionId === question.id" class="page-content">
				<h4>{{question.name}}<div class="pull-right alert" role="alert" ng-show="questionsCtrl.responses.scores[question.id] > -1" ng-class="{'alert-success': questionsCtrl.responses.scores[question.id] >= (question.question_stems.length - 1), 'alert-warning': (questionsCtrl.responses.scores[question.id] < (question.question_stems.length - 1) && questionsCtrl.responses.scores[question.id] > 1), 'alert-danger': questionsCtrl.responses.scores[question.id] <= 1}">Score: {{questionsCtrl.responses.scores[question.id]}}/{{question.question_stems.length}}</div></h4>
				<div ng-bind-html="question.background | unsafe"></div>
				<div class="clearfix"></div>
				<table>
					<thead>
						<tr>
							<th></th>
							<th ng-repeat="option in question.question_options" class="question-option-headers">{{option.option}}</th>
						</tr>
					</thead>
					<tbody ng-repeat="(stemId, stem) in question.question_stems">
						<tr class="question">
							<td>{{questionsCtrl.romans[stemId]}}<span ng-bind-html="stem.text | unsafe"></span></td>
							<td ng-repeat="(optionId, option) in question.question_options" class="question-radios">
								<div class="radio radio-primary">
									<input type="radio" 
										ng-model="questionsCtrl.responses.answers[question.id][stem.id]" ng-value="option.id" 
										ng-click="questionsCtrl.checkAllAnswered(question.id)" 
										ng-disabled="questionsCtrl.responses.scores[question.id] > -1 || questionsCtrl.saving[question.id]"
										name="question_{{question.id}}_{{stem.id}}" />
										<label> </label>
								</div>
							</td>
						</tr>
						<tr class="feedback" ng-show="questionsCtrl.responses.scores[question.id] > -1">
							<td colspan=3>
								<div class="panel" ng-class="{'panel-success': questionsCtrl.responses.answers[question.id][stem.id] === stem.question_option.id, 'panel-danger': questionsCtrl.responses.answers[question.id][stem.id] !== stem.question_option.id}">
									<div class="panel-heading">
										<span ng-show="questionsCtrl.responses.answers[question.id][stem.id] === stem.question_option.id"><i class="fa fa-check"></i> Correct</span>
										<span ng-show="questionsCtrl.responses.answers[question.id][stem.id] !== stem.question_option.id"><i class="fa fa-times"></i> Incorrect</span>
										- this statement is {{stem.question_option.option}}
									</div>
									<div class="panel-body" ng-bind-html="stem.feedback | unsafe"></div>
								</div>
							</td>
						</tr>
					</tbody>
					<tbody class="question-buttons">
						<tr ng-hide="questionsCtrl.responses.scores[question.id] > -1 || questionsCtrl.saving[question.id]">
							<td></td>
							<td>
								<button type="button" class="btn btn-primary" ng-click="questionsCtrl.check(question.id)" ng-class="{disabled: !questionsCtrl.responses.answered[question.id]}">Check</button>
							</td>
							<td>
								<button type="button" class="btn btn-default" ng-click="questionsCtrl.clear(question.id)">Clear</button>
							</td>
						</tr>
						<tr ng-show="questionsCtrl.saving[question.id]">
							<td></td>
							<td colspan="2" class="saving">
								<loader></loader> Saving Answers
							</td>
						</tr>						
						<tr ng-show="questionsCtrl.responses.scores[question.id] > -1 && !questionsCtrl.saving[question.id]">
							<td colspan=3 class="next-prev-questions">
								<button type="button" class="btn btn-primary" ng-click="questionsCtrl.next()" ng-hide="question.last">Next Question</button>
								<button type="button" class="btn btn-primary" ng-click="questionsCtrl.prev()" ng-hide="question.first">Previous Question</button>
							</td>						
						</tr>
					</tbody>
				</table>
			</div>
			<!--button type="button" class="btn btn-danger pull-right" ng-click="questionsCtrl.complete()">Mark section complete</button-->
		</div>
	</div>
</div>