<!--
    Copyright 2016 Jon Mason
	
	This file is part of Oubreak.

    Oubreak is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oubreak is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oubreak.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="row">
	<div class="col-xs-12">
		<page-title section="reportCtrl.section"></page-title>
		<p>Please write your report (no more than 1000 words in total) clearly and succinctly, in a form that can be rapidly absorbed by both colleagues and non-specialist stakeholders. It should therefore be highly structured, using the headings below, providing your reasoning, observations and conclusions, and clear so that readers can easily find the information they need.
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<p class="no-margin"><strong>Date:</strong> {{reportCtrl.date | date:'d MMM yyyy'}}</p>
		<div ng-repeat="box in reportCtrl.boxes">
			<div class="report-box">
				<h5>{{box.label}}</h5>
				<div class="page-content" ng-bind-html="box.instructions | unsafe"></div>
				<!--text-angular ng-model="reportCtrl.report[boxId]" id="report_{{boxId}}"></text-angular-->
				<!--div ckeditor="editorOptions" ng-model="reportCtrl.report[boxId]" ng-class="{fixed: reportCtrl.submitted}"></div-->
				<div ckeditor="editorOptions" ng-model="reportCtrl.report.reports_sections[box.id]"></div>
				<!--textarea ng-model="reportCtrl.report.reports_sections[box.id]"></textarea-->
			</div>
			<!--div ng-if="boxId%2 === 1" class="clearfix"></div-->
		</div>
		<div class="align-center-full-width" style="margin-top: 10px;">
			<div>
			</div>
			<div ng-hide="reportCtrl.saving">
				<button class="btn btn-primary" type="submit" ng-click="reportCtrl.save()" ng-disabled="reportCtrl.submitted">Save</button>
				<button class="btn btn-success" type="submit" ng-click="reportCtrl.submit()" ng-disabled="reportCtrl.submitted">Submit</button>
				<button class="btn btn-warning" type="submit" ng-click="reportCtrl.reopen()" ng-show="reportCtrl.submitted">Reopen</button>
			</div>
			<div ng-hide="reportCtrl.saving">
				<span ng-if="!reportCtrl.submitted">Last Saved</span><span ng-if="reportCtrl.submitted">Submitted</span>: {{reportCtrl.lastSaved | date: 'H:mm:ss on d MMM yyyy' }}
				<span ng-show="reportCtrl.lastSaveType === 'auto'">(Auto save)</span>
				<span ng-show="reportCtrl.lastSaveType === 'save'">(Manual save)</span>
				<span ng-show="reportCtrl.lastSaveType === 'leave'">(Saved on page exit)</span>
			</div>
			<div ng-show="reportCtrl.saving">
				<loader></loader>
				Saving Report
			</div>
		</div>
	</div>
	
	<div class="col-md-4" style="height: 100%">
		<h4>
			Notes
		</h4>
		<p ng-if="reportCtrl.allNotesEmpty">You have not made any notes yet. Notes you make in the <a href="#results" title="View Results and add Notes">Results section</a> will be shown here.</p>
		<uib-accordion ng-if="!reportCtrl.allNotesEmpty" close-others="false">
			<uib-accordion-group ng-repeat="technique in reportCtrl.techniques" is-open="true" ng-show="reportCtrl.notes[technique.id] && reportCtrl.notes[technique.id].note !== ''">
				<uib-accordion-heading>{{technique.name}}</uib-accordion-heading>
				<div ng-bind-html="reportCtrl.notes[technique.id].note | lineBreaksFilter | unsafe"></div>
				<!--div ng-bind-html="reportCtrl.notes[technique.id].note | unsafe"></div-->
			</uib-accordion-group>
		</uib-accordion>
	</div>
    
    <script type="text/ng-template" id="submit-modal.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Cancel" ng-click="SubmitModalCtrl.cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Submit Report</h4>
        </div>
        <div class="modal-body">
            <p>You are about to submit your report. Once submitted, you will no longer be able to make changes.</p>
            <p>Select Submit to go ahead and submit your report, or Cancel if you want to make changes.</p>
            <p>Remember that you can use the Save button to save your report and return to it later.</p>
        </div>
        <div class="modal-footer">
            <div ng-hide="SubmitModalCtrl.saving">
                <button type="button" class="btn btn-default" ng-click="SubmitModalCtrl.cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="SubmitModalCtrl.confirm()">Submit</button>
            </div>
            <div ng-show="SubmitModalCtrl.saving">
                <loader></loader>
                Submitting Report
            </div>
        </div>
    </script>
    
    <script type="text/ng-template" id="report-error-modal.html">
        <div class="modal-header">
            <h4 class="modal-title">Someting's gone wrong</h4>
        </div>
        <div class="modal-body">
            <p>Sorry about this, there seems to have been a problem. You may have lost connection, or your session may have timed out. It could also be caused by having multiple instances of this attempt open at once. Please check your internet connection, ensure you don't have this attempt open in multiple tabs, and then try refreshing the page. </p>
            <p>Unfortunately, <span ng-show="ReportErrorModalCtrl.lastSaveType === 'none'">what you have written so far has not been saved</span><span ng-show="ReportErrorModalCtrl.lastSaveType !== 'none'">this means that any changes you have made since the last save, at {{ReportErrorModalCtrl.lastSaved | date: 'H:mm:ss on d MMM yyyy' }}<span ng-show="ReportErrorModalCtrl.lastSaveType === 'auto'"> (Auto save)</span><span ng-show="ReportErrorModalCtrl.lastSaveType === 'save'"> (Manual save)</span><span ng-show="ReportErrorModalCtrl.lastSaveType === 'leave'"> (Saved on page exit)</span>, will not have been saved</span>. However, your current report is shown below, so you can copy this and paste it somewhere else, so you do not lose anything.</p><p>Apologies for any inconvenience or annoyance this causes. If you continue to experience problems, <email-msdlt></email-msdlt></p>
            <div>
                <h4 style="margin-top: 20px">Report</h4>
                <p class="alert alert-danger" role="alert">If you have made changes that may not have been saved, please copy your report and paste it somewhere else, so that you can paste it back in after reloading the page.</p>
                <div ng-repeat="box in ReportErrorModalCtrl.boxes">
                    <h6 style="margin-top: 20px">{{box.label}}</h6>
                    <div ng-bind-html="ReportErrorModalCtrl.report.reports_sections[box.id] | unsafe"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="ReportErrorModalCtrl.confirm()">Reload</button>
        </div>
    </script>
    
    <script type="text/ng-template" id="submitted-modal.html">
        <div class="modal-header">
            <!--button type="button" class="close" data-dismiss="modal" aria-label="Cancel" ng-click="SubmittedModalCtrl.cancel()"><span aria-hidden="true">&times;</span></button-->
            <h4 class="modal-title">Report Submitted</h4>
        </div>
        <div class="modal-body">
            <p>Well done! You have submitted your report and completed the compulsory parts of the iCase. You are now encouraged to make the most of the additional information and simulators in the "Research" section. You can also collect more samples and test them in the lab, although these will not be taken into account when your report is being marked.<p>
            <p>Before you do that though, we would also be very grateful if you could go to the feedback section to give us your thoughts on this exercise. We have redesigned the iCase for this year, based on previous student feedback, so would like to know what you think of the new version. Thank you!</p>
        </div>
        <div class="modal-footer">
            <!--button type="button" class="btn btn-primary" ng-click="SubmittedModalCtrl.cancel()">Return to Report</button>
            <button type="button" class="btn btn-primary" ng-click="SubmittedModalCtrl.goToResearch()">Further Research</button-->
            <button type="button" class="btn btn-primary" ng-click="SubmittedModalCtrl.goToFeedback()">Give Feedback</button>
        </div>
    </script>
</div>