<!--
    Copyright 2016 Jon Mason
	
	This file is part of Oubreak.

    Oubreak is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oubreak is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oubreak.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="row">
	<div class="col-xs-12">
		<page-title section="samplesCtrl.section"></page-title>
		<p>You now need to go to the schools that have experienced outbreaks of the virus to collect the samples that you will need. You can collect 3 types of samples - nasopharyngeal swab, blood serum and cerebrospinal fluid - at, where available, the acute and convalescent stages for each child that has had the infection. Choose you samples carefully to avoid unhappy children. Once you have collected some samples, you will be able to test them in the lab.</p>
		<loader ng-show="samplesCtrl.loading"></loader>
		<div ng-if="!samplesCtrl.loading">
			<page-menu items="samplesCtrl.subsections" on-click="samplesCtrl.setSubsection(subsectionId)"></page-menu>
			<div class="row page-content">
				<div class="col-xs-12 col-sm-4 col-sm-push-8">
					<div class="panel panel-default">
						<!--div class="panel-heading">Happiness</div-->
						<div class="panel-body">
							<div>
								<div class="col-lg-5 col-md-6 col-sm-8 col-xs-4 smiley">
									<img ng-src="../../img/smileys/smile-o.svg" ng-show="samplesCtrl.happiness == 3" />
									<img ng-src="../../img/smileys/meh-o.svg" ng-show="samplesCtrl.happiness == 2" />
									<img ng-src="../../img/smileys/frown-o.svg" ng-show="samplesCtrl.happiness == 1" />
									<img ng-src="../../img/smileys/cry.svg" ng-show="samplesCtrl.happiness == 0" />
								</div>
								<!--i class="fa fa-smile-o fa-4x" ng-if="samplesCtrl.happiness == 3"></i>
								<i class="fa fa-meh-o fa-4x" ng-if="samplesCtrl.happiness == 2"></i>
								<i class="fa fa-frown-o fa-4x" ng-if="samplesCtrl.happiness == 1"></i>
								<span class="fa-stack fa-2x" ng-if="samplesCtrl.happiness == 0">
									<i class="fa fa-frown-o fa-stack-2x"></i>
									<i class="fa fa-times fa-stack-2x text-danger"></i>
								</span-->
								Try to keep the children as happy as possible when collecting samples. Intrusive and/or unnecessary samples will make them unhappy.
								<!--, as will returning multiple times to collect samples that you did not collect the first time.-->
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-sm-pull-4">
					<h4 class="no-top-margin">{{samplesCtrl.currentSite.name}}</h4>
					<div class="row">
						<div class="col-xs-12 col-md-6 sample-school" ng-repeat="(schoolIndex, school) in samplesCtrl.schools">
							<h5 class="no-top-margin">{{school.name}}</h5>
							<p>{{school.details}}</p>
							<!--p><strong>Infected:</strong> {{school.infected}}</p>
							<p><strong>Current Situation:</strong> {{school.current}}</p-->
							<table>
								<tr>
									<th><!--Child--></th>
									<th ng-repeat="(typeIndex, type) in samplesCtrl.types" ng-class="'samples-' + type.stage">{{type.stage.charAt(0).toUpperCase() + type.stage.slice(1)}}<br /><span ng-class="{'all-or-none-disabled': samplesCtrl.samples.saved.counts.schools[school.id][samplesCtrl.currentSite.id][type.stage] >= school.children.length || school[type.stage + 'Disabled']}" class="all-or-none"><all-or-none school-id="school.id" type-id="type.id" on-click="samplesCtrl.selectAllOrNone(allOrNone, school.id, type.id)" brackets="true"></all-or-none></span></th>
								</tr>
								<!--tr>
									<th>All {{school.children.length}}</th>
									<td ng-repeat="(typeIndex, type) in samplesCtrl.types">
										<div class="checkbox checkbox-primary">
											<input type="checkbox" id="{{samplesCtrl.currentSite.name}}_{{samplesCtrl.schools[schoolIndex].code}}_all_{{type.stage}}" 
												ng-click="samplesCtrl.selectAllOrNone(1, school.id, type.id)" 
												ng-disabled="school[type.stage + 'Disabled']" />
											<label> </label>
										</div>
									</td>
								</tr-->
								<tr ng-repeat="(childIndex, child) in school.children">
									<th>{{child.name}}</th>
									<td ng-repeat="(typeIndex, type) in samplesCtrl.types" ng-class="'samples-' + type.stage">
										<div class="checkbox checkbox-primary">
											<input type="checkbox" id="{{samplesCtrl.currentSite.code}}_{{samplesCtrl.schools[schoolIndex].code}}_{{samplesCtrl.schools[schoolIndex].children[childIndex].code}}_{{type.stage}}" 
												ng-model="samplesCtrl.samples.all.samples[samplesCtrl.currentSite.id][school.id][child.id][type.id]" ng-true-value=1 ng-false-value=0
												ng-click="samplesCtrl.checkSamples(samplesCtrl.currentSite.id, school.id, child.id, type.id)" 
												ng-disabled="school[type.stage + 'Disabled'] || samplesCtrl.samples.saved.samples[samplesCtrl.currentSite.id][school.id][child.id][type.id] == 1" />
											<label> </label>
										</div>
									</td>
								</tr>
							</table>
							<!--p ng-show="school.acute && school.convalescent && school.showReturnTripCheck">Return trip check</p-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-lg-6" ng-if="!samplesCtrl.loading">
		<div id="selected_samples" class="panel panel-info">
			<div class="panel-heading">Selected Samples</div>
			<div class="panel-body">
				<div class="pull-right icon-button" ng-class="{disabled: samplesCtrl.samples.temp.counts.total === 0}"><a href="" title="Collect Samples" ng-click="samplesCtrl.confirmSamples()"><i class="fa fa-user"></i><br />Collect Samples</a></div>
				<p ng-if="samplesCtrl.samples.temp.counts.total === 0">No samples are currently selected. Click the boxes to select samples.</p>
				<show-samples status="'temp'"></show-samples>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-lg-6" ng-if="!samplesCtrl.loading">
		<div id="collected_samples" class="panel panel-success">
			<div class="panel-heading">Collected Samples</div>
			<div class="panel-body">
				<p ng-if="samplesCtrl.samples.saved.counts.total === 0">No samples have been collected yet. Select some samples and click the "Collect Samples" button to collect them.</p>
				<show-samples status="'saved'"></show-samples>
			</div>
		</div>
	</div>
</div>