<!--
    Copyright 2016 Jon Mason
	
	This file is part of Oubreak.

    Oubreak is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oubreak is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oubreak.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="pull-right" style="width: 100px">
	<div class="thumbnail" style="text-align: center">
		<a href="https://www.quidel.com/sites/default/files/product/documents/EF1063811EN00.pdf" target="_blank" title="View QuickVue Protocol PDF">
			<i class="fa fa-file-pdf-o fa-4x"></i>
			<div class="caption" style="padding-bottom: 0">
				QuickVue Protocol
			</div>
		</a>
	</div>
</div>
<div style="margin: 10px 120px 0 0">
	<p>Hiya,</p>
	<p>Just thought I would let you know that I have 
	<span ng-if="swabs === 'all'">already tested those swab samples you collected from the kids in Tovington</span>
	<span ng-if="swabs === 'some'">gone back and collected the remaining swab samples from the kids in Tovington and tested them</span>
	<span ng-if="swabs === 'none'">gone back and collected the swab samples from the kids in Tovington and tested them</span>
	using the QuickVue antigen assay. See below for a brief report that I have sent to the boss so he knows how hard I have been working. I have also attached a PDF of the protocol just in case you are interested in how it works.</p>
	<p>Ta-ta for now,</p>
	<p>Pete</p>
</div>
<hr />
<quickvue-results></quickvue-results>