<!-- http://support.jwplayer.com/customer/portal/articles/1406723-mp4-video-embed -->
<div id="videoPlayer">Loading the player...</div>
<!--script type="text/javascript">
	var playerInstance = jwplayer("videoPlayer");
	playerInstance.setup({
		file: "content/videos/nerve.mp4",
		//image: "content/videos/nerveImage.jpg",
		//file: {{video.file}},
		image: "content/videos/nerveImage.jpg",
		width: 640,
		height: 360,
		title: 'Basic Video Embed',
		description: 'A video with a basic title and description!'
	});
</script-->
