<!--
    Copyright 2016 Jon Mason
	
	This file is part of Oubreak.

    Oubreak is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oubreak is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oubreak.  If not, see <http://www.gnu.org/licenses/>.
-->

<h5>Notes</h5>
<p>Write notes on key results and your interpretations below. There is a separate notes section for each technique. You will be able to view these notes on the Report page, to make it easy to refer back to your investigations and results when writing your report.</p>
<textarea ng-model="model" class="form-control" rows=10 ng-blur="blur({ techniqueId: techniqueId })"></textarea>
