<h5>Virus Outbreak</h5>
<p>There has been a report of severe flu-like outbreak at St. Bride's Primary School, Tovington, which may be linked to some poorly children reported a month ago in a second school, Cabot Road Primary, in neighbouring Westbridge. This is on the back of a larger than expected number of confirmed flu cases this year and the Health Minister has been on the phone requesting information prior to a live BBC radio 4 interview with the "World at One" in two weeks' time. We need to be able to inform him:</p>
<ul>
	<li>If the circulating virus is nothing to worry about or whether there is reason to be concerned</li>
	<li>If we have any vaccines capable of preventing further spread of this disease</li>
</ul>
<h6>Tasks</h6>
<ol>
	<li>Go to your office and revise the basics</li>
	<li>Go to the schools and collect samples</li>
	<li>Go to the lab and investigate the virus</li>
	<li>Write a report to the health minister with recommendations as to the course of action</li>
	<li>Further Investigation</li>
</ol>
