<!--
    Copyright 2016 Jon Mason
	
	This file is part of Oubreak.

    Oubreak is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oubreak is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oubreak.  If not, see <http://www.gnu.org/licenses/>.
-->

<p style="margin-top: 10px">Congratulations! You have now enough information to report to the Health Minister which viral serotype is causing the current epidemic and can make an informed decision about vaccine usage.  Please go to the "Report" section to write your report, but before doing so you will probably want to review and interpret your results in the "Results" section.</p>
<p>Moreover, you have been awarded a grant to perform some additional extra-curricular research on the virus as well as an opportunity to try and control an epidemic yourself in a vaccine simulator - both of these are available in the "Research" section.</p>
<p>If you feel it will be useful for your report, and you have time and money left, you can also return to the lab to perform further assays.</p>
<!--p>Once you have submitted your report to the Health Minister and have explored the other areas of the outbreak at your leisure please then click the Finish and Exit button rather than the Save and Exit button.</p-->
