<div class="col-md-6 col-xs-12 col-md-push-6 technique-video">
	<!--div id="techniquesPlayer">Loading video player...</div-->
	<div ng-if="video.length > 1">
		<uib-tabset>
			<uib-tab ng-repeat="videoPart in video" heading="{{videoPart.title}}" select="select({url: videoPart.url})">
			</uib-tab>
		</uib-tabset>
		<div class="video-container">
			<iframe width="100%" ng-src="{{part}}" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="video-container" ng-if="!(video.length > 1)">
		<iframe width="100%" ng-src="{{video}}" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
