<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Cancel" ng-click="BeggingModalCtrl.cancel()"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">Beg for more {{BeggingModalCtrl.resourceTitle}}</h4>
</div>
<div class="modal-body">
	<p>You have run out of {{BeggingModalCtrl.resourceText}}, so you have had to go, cap in hand, to your boss to ask for more.</p>
	<p ng-if="BeggingModalCtrl.resources.money <= BeggingModalCtrl.moneyCutoff">After a lot of ear-ache you have been given another £200 to complete your analyses.</p>
	<p ng-if="BeggingModalCtrl.resources.time <= BeggingModalCtrl.timeCutoff">You have embarassed the minister who has had to cancel the press conference. Luckily there is another bulletin due in 48 hours. </p>
	<p>Your boss insists that you go back and think about what you are doing more carefully.</p>
	<p>Remember, don't waste resources on unproductive tests and, while you can obtain the information you need in multiple ways, you need to find the way that minimises the amount of time and money you spend.</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="BeggingModalCtrl.confirm()">Continue</button>
</div>
