<div class="modal-header">
	<h4 class="modal-title">Error</h4>
</div>
<div class="modal-body">
	<p>There seems to have been a problem. You may have lost connection, or your session may have timed out. Please check your internet connection and then try refreshing the page. </p>
	<p>Unfortunately, this means that your most recent actions/inputs may be lost. This may include any unchecked questions, uncollected samples or assays that you haven't yet carried out. Reports are automatically saved every minute, but you may lose any text you have entered since the last save.</p>
	<p>If you continue to experience problems, <email-msdlt></email-msdlt></p>
</div>
<div class="modal-footer">
	<div>
		<button type="button" class="btn btn-primary" ng-click="ErrorModalCtrl.confirm()">Refresh</button>
	</div>
</div>
