<div class="modal-header">
	<!--button type="button" class="close" data-dismiss="modal" aria-label="Cancel" ng-click="SubmittedModalCtrl.cancel()"><span aria-hidden="true">&times;</span></button-->
	<h4 class="modal-title">Report Submitted</h4>
</div>
<div class="modal-body">
	<p>Well done! You have submitted your report and completed the compulsory parts of the iCase. You are now encouraged to make the most of the additional information and simulators in the "Research" section. You can also collect more samples and test them in the lab, although these will not be taken into account when your report is being marked.<p>
	<p>Before you do that though, we would also be very grateful if you could go to the feedback section to give us your thoughts on this exercise. We have redesigned the iCase for this year, based on previous student feedback, so would like to know what you think of the new version. Thank you!</p>
</div>
<div class="modal-footer">
	<!--button type="button" class="btn btn-primary" ng-click="SubmittedModalCtrl.cancel()">Return to Report</button>
	<button type="button" class="btn btn-primary" ng-click="SubmittedModalCtrl.goToResearch()">Further Research</button-->
	<button type="button" class="btn btn-primary" ng-click="SubmittedModalCtrl.goToFeedback()">Give Feedback</button>
</div>
